.re {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.img {
    width: 80px;
    height: 80px;
    background-color: gray;
    z-index: 1000;
    border-radius: 10px;

    /* 設定 background-image */
    background-size: cover;
    background-position: center;
}

.adv {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    transform: rotate(45deg);
    bottom: -15px;
}