.all{
    display: flex;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(8px);
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    align-items: end;
    position: relative;
    transition: all 0.4s ease;
}

.bg{
    border-radius: 20px 20px 0 0;
    width: 100vw;
    height: 60vh;
    background-color: #ffffff;

    padding: 20px;
    position: absolute;
    bottom: 0;

    transition: all 0.4s ease;
}

.bar{
    width: 272px;
}

.title{
    margin: 10px;
}

.title input{
    width:300px;
    font-size:medium;
    outline: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #727272;
}

.des{
    margin:10px;
}

.des textarea{
    width: 300px;
    min-height: 48px;
    height: fit-content;
    padding: 0;
    font-size: medium;
    visibility: inherit;
    resize: none;
    outline: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #727272;
}

.pic{
    max-width: 100vw;
    display: grid;
    justify-items: center;
}

.butt{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.butt button{
    width: 100%;
    height: 40px;
    background-color: #5AB4C4;
    border-radius: 9px;
    color: #ffffff;
}

.tags{
    display: flex;
    width: 300px;
    background-color: #dadada;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}